@page "/advanced"
<div style="width:700px;">
    <Player id="advanced"
            CurrentTimeControl="true"
            DownloadControl="true"
            DurationControl="true"
            FastForwardControl="true"
            FullscreenControl="true"
            PIPControl="true"
            VolumeControl="true"
            MuteControl="true"
            SettingsControl="true"
            RewindControl="true"
            RestartControl="true"
            ProgressControl="true"
            PlayControl="true"
            CaptionsControl="true"
            AirplayControl="true"
            PlayLargeControl="true"
            Captions="true"
            Loop="true"
            Quality="true"
            Speed="true"
            Poster="poster.png"
            Sources="@sources"
            OnEndedVideo="OnEndedVideo"
            OnPlayVideo="OnPlayVideo"
            OnVideoTimeUpdate="@((e) => OnVideoTimeUpdate(e.currentTime,e.duration))" />
</div>
